# We use environment variables to define deployment specific settings and
# secret keys (which should never be stored in git).
#
# In addition to setting environment variables for your system, you may
# instead define them in a file named ".env". (This can be easier for some
# setups, e.g. local development.)
#
# This is an example file. To set up a local version, copy this file to
# ".env" (note the leading period!) and add the appropriate settings.

######################################################################
# Required settings
######################################################################

# A long, random string used for cryptographic functions within Django, eg:
# SECRET_KEY='abcdefghijABCDEFGHIJ0123456789!@#$%^&*()'
SECRET_KEY=''

# Genevieve is currently deployed with this block, due to legal concerns.
SECRETCODE=''

# The PostgreSQL database URL.
# e.g. for local dev with a database 'mydb', user 'jdoe', password 'pa55wd':
# DATABASE_URL='postgres://jdoe:pa55wd@localhost/mydb'
DATABASE_URL=''

# GenNotes Application data.
# Needed to enable your Genevieve users to submit Genevieve edits to GenNotes.
# You can register your Genevieve application by going here:
# http://gennotes.herokuapp.com/oauth2-app/applications/
#
# Example settings below. Modify as appropriate for your environment.
#
# GENNOTES_CLIENT_ID='abcdefghijklmnopqrstuvwxyz0123456789abcd'
# GENNOTES_CLIENT_SECRET='abcdefghijklmnopqrstuvwxyz0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcd'
# GENNOTES_URL='http://lvh.me:8800'
# GENNOTES_REDIRECT_URI='http://localhost:8000/authorize_gennotes/'
# GENNOTES_URL='https://gennotes.herokuapp.com'


# Open Humans Application data
# Genevieve is expected to run as an OAuth2 project on Open Humans:
# https://www.openhumans.org/direct-sharing/overview/
# The settings below enable login via Open Humans and automatic of
# genetic data shared via Open Humans. Without data shared via an Open Humans
# connection, users an only create reports if an admin manually sets
# 'genome_upload_enabled' to be true in the user's GennotesEditor data.
# OPENHUMANS_CLIENT_ID='abcdefghijklmnopqrstuvwxyz0123456789abcd'
# OPENHUMANS_CLIENT_SECRET='abcdefghijklmnopqrstuvwxyz0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcd'
# OPENHUMANS_URL='https://staging.openhumans.org'
# OPENHUMANS_REDIRECT_URI='http://localhost:8000/authorize_openhumans/'
# OPENHUMANS_MASTER_ACCESS_TOKEN = 'abcdefghijklmnopqrstuvwxyz0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZab'


######################################################################
# Probably needed settings
######################################################################

# Email backend. For local development you can use console backend by
# setting EMAIL_BACKEND to 'django.core.mail.backends.console.EmailBackend'
# and leave the other settings unspecified.
# EMAIL_BACKEND=''
# EMAIL_USE_TLS=''
# EMAIL_HOST=''
# EMAIL_HOST_USER=''
# EMAIL_HOST_PASSWORD=''
# EMAIL_PORT=''

######################################################################
# Other settings
######################################################################

# Defaults to 'https://gennotes.herokuapp.com' (note: no trailing slash)
# You might change this if you're doing local development of GenNotes.
# Note: this doesn't change the GenNotes URLs used by our JavaScript!
# GENNOTES_SERVER=''

# Email to contact for admins of this Genevieve site.
# GENEVIEVE_ADMIN_EMAIL='admin@example.com'
