Django==1.9.4
Markdown==2.6.6
Pygments==2.0.2
amqp==1.4.9
anyjson==0.3.3
argparse==1.2.1
billiard==3.3.0.23
bleach==1.4.2
blessings==1.6
boto==2.38.0
bpython==0.14.1
celery==3.1.23
cgivar2gvcf==0.1.6
configparser==3.5.0b2
curtsies==0.1.19
dj-database-url==0.4.0
django-allauth==0.25.2
django-debug-toolbar==1.4
django-storages==1.1.8
env-tools==2.0.0
greenlet==0.4.7
gunicorn==19.4.5
html5lib==0.9999999
kombu==3.0.34
mccabe==0.3
myvariant==0.2.0
oauthlib==1.0.3
pep8==1.5.7
psycopg2==2.6.1
pyflakes==0.8.1
python-openid==2.2.5
pytz==2016.2
requests==2.9.1
requests-oauthlib==0.6.1
six==1.9.0
sqlparse==0.1.19
tini==3.0.1
twobitreader==3.1.0
vcf2clinvar==0.1.4.2
whitenoise==2.0.6
wsgiref==0.1.2
