{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head profile="http://www.w3.org/2005/10/profile">
    <title>{% block head_title %}Genevieve{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Lodash, added to allow us to use templates -->
    <script src="/static/vendor/js/lodash.min.js"></script>

    <!-- Set up Bootstrap 3 using MaxCDN links. -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- tablesorter (forked version by Mottie) -->
    <link rel="stylesheet" href="/static/vendor/css/theme.default.min.css">
    <script src="/static/vendor/js/jquery.tablesorter.min.js"></script>
    <script src="/static/vendor/js/jquery.tablesorter.widgets.min.js"></script>

    <!-- Override Bootstrap with local styles when we have them, e.g.:
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    -->
    {% block js_scripts %}
    {% endblock %}
  </head>

  <body>

    <!-- Navbar -->
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#navbar-main-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">
            Genevieve</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-main-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'public_reports' %}">Public reports</a></li>
            <!-- Fill this with menu items as needed.
            <li><a href="#">Link</a></li>
            -->
          </ul>
          <!-- Login / Logout on righthand side -->
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li><a href="{% url 'account_logout' %}">Log out</a></li>
            {% endif %}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav><!-- /.navbar .navbar-default -->

    <!-- Container: override the 'main' block to make new pages -->
    <div class="container">
      {% if messages %}
      <ul class="list-group">
      {% for message in messages %}
        {% if 'error' in message.tags %}
        <li class="list-group-item list-group-item-danger">{{ message }}</li>
        {% else %}
        <li class="list-group-item list-group-item-{{ message.tags }}">
          {{ message }}</li>
        {% endif %}
      {% endfor %}
      </ul>
      {% endif %}
      {% block content %}
      {% endblock content %}
    </div>

    {% block js_templates %}
    {% endblock %}
  </body>
</html>
