{% extends 'base.html' %}


{% block content %}
<h1>Complete Genevieve Signup</h1>

{% if user.is_authenticated and user.genevieveuser.passed_quiz and not user.genevieveuser.agreed_to_terms %}
<h2>Thanks for completing our quiz!</h2>
<p>
  It's important that we ensure you understand how Genevieve works.
</p>
<p>
  <b>Please confirm the following and we'll complete creating your account.</b>
</p>

<hr>
<p>
  <form action="{% url 'complete_signup' %}" method="post">
    {% csrf_token %}
    <div class="checkbox" style="margin-bottom:15px;">
      <label>
        <input type="checkbox" name="education_and_research">
        I understand Genevieve is intended for educational and research use,
        and not for clinical use.
      </label>
    </div>
    <div class="checkbox" style="margin-bottom:15px;">
      <label>
        <input type="checkbox" name="contains_errors">
        I understand many reported variant effects in Genevieve will be
        incorrect.
      </label>
    </div>
    <div class="checkbox" style="margin-bottom:15px;">
      <label>
        <input type="checkbox" name="incomplete">
        I understand Genevieve may fail to highlight information that I or
        others consider important.
      </label>
    </div>
    <div class="checkbox" style="margin-bottom:15px;">
      <label>
        <input type="checkbox" name="public">
        I understand that Genevieve will publicly share my report if the
        corresponding Open Humans data is public.
      </label>
    </div>
    <div class="checkbox" style="margin-bottom:15px;">
      <label>
        <input type="checkbox" name="terms">
        I agree to the Genevieve
        <a href="{% url 'terms' %}">terms of use</a.
      </label>
    </div>
    <button type="submit" class="btn btn-primary" style="margin-bottom:15px;">
      Continue</button>
  </form>
</p>
{% else %}

<p>
  Oops! This page isn't intended for you.
</p>
<p>
  <a href="{% url 'home' %}">Return to Home page.</a>
</p>
{% endif %}

{% endblock content %}
