{% extends 'base.html' %}
{% load report_tags %}

{% block js_scripts %}
<script src="/static/js/genomereport_detail.js"></script>
{% endblock js_scripts %}

{% block head_title %}{{genomereport.report_name}}{% endblock %}

{% block content %}
<h2 id="report-name">{{ genomereport.report_name }}</h2>

<a class='btn btn-default btn-sm pull-right' href="{% url 'genome_report_reprocess' genomereport.id %}">Reprocess genome</a>
<div id="download-as-csv"></div>

<table id="genome-report" class="table" style="table-layout:fixed">
  <thead>
    <tr>
      <th style="width:180px;word-wrap:break-word;">Variant</th>
      <th width="100px">Allele Freq</th>
      <th width="100px">Zygosity</th>
      <th>Info</th>
    </tr>
  </thead>

  <tbody>
  {% for gv in genomevariants|slice:"100" %}
  <tr class="gv-row" id="gv-b37-{{ gv.variant.b37_id }}">
    <td class="gv-id-cell" style="width:150px;word-wrap:break-word;">
      <p>
        {{ gv.variant.b37_hgvs_id }}
      </p>
      {% if gv.variant.myvariant_clinvar %}
        <p><small><a href="https://www.ncbi.nlm.nih.gov/clinvar/variation/{{ gv.variant.myvariant_clinvar.variant_id }}/">
          {{ gv.variant.myvariant_clinvar.rcv.0.preferred_name|space_after_colon }}
        </a></small></p>
      {% endif %}
    </td>
    <td class="gv-freq-cell">
      {% with gv.variant.allele_frequency as freq %}
      {% if freq %}
        {{ freq|floatformat:'-6' }}
      {% else %}
        Unknown
      {% endif %}{% endwith %}</td>
    <td width="100px">{{ gv.get_zygosity_display }}</td>
    <td id="{{ gv.variant.id }}" class="gv-info-cell">
      <table>
        <tbody>
          <tr>
            <td style="padding-right:20px;width:85%;">
              <table class="table">
                <tbody>
                  {% for rcv in gv.variant.myvariant_clinvar.rcv %}
                  <tr>
                    <td>
                      <a href="https://www.ncbi.nlm.nih.gov/clinvar/{{ rcv.accession }}/">
                        {{ rcv.conditions.name }}</a>
                      <br>{{ rcv.clinical_significance }}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </td>
            <td>
              Create notes
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
  {% endfor %}
  </tbody>

</table>
{% endblock content %}


{% block js_templates %}
<!-- Display of retrieved ReferenceClinVarAssertion data from GenNotes -->
<script type="text/template" id="variant-id-template">
  <p>
    <b>${ b37VariantID }</b>
  </p>
  <p>
    <small><b>ClinVar name: </b>${ clinvarRCVAPreferredName }</small>
  </p>
  <p>
    <small><a href="${ linkGETEvidence }">Check on GET-Evidence</a></small>
  </p>
</script>

<script type="text/template" id="variant-freq-template">
  ${ clinvarRCVAfreqESP }<br>
  <small><a href="${ linkExAC }">Check on ExAC</a></small>
</script>

<script type="text/template" id="variant-info-template">
  <div class="row">
    <div class="col-xs-4">
      <b><a href="http://www.ncbi.nlm.nih.gov/clinvar/${ clinvarRCVAAccession }">
        ${ clinvarRCVAAccession }</a></b>
      <ul style="padding-left:15px;">
        <li><b>${ clinvarTraitLabel }: </b>${ clinvarRCVADiseaseName }</li>
        <li><b>Significance: </b>${ clinvarRCVASignificance }</li>
      </ul>
    </div>
    <div class="col-xs-8">
      <b>Genevieve information</b>
      <ul class="genevieve-information" style="padding-left:15px;">
        <li><b>Inheritance: </b>${ genevieveInheritance }</li>
        <li><b>Evidence: </b>${ genevieveEvidence }</li>
        <li><b>Notes: </b>${ genevieveNotes }</li>
      </ul>
      <a href="/variant/${ localVariantID }/">View/add/update shared notes</a>
    </div>
  </div>
</script>
{% endblock js_templates %}
