{% extends 'base.html' %}
{% load report_tags %}

{% block js_scripts %}
<script src="/static/js/genomereport_detail.js"></script>
{% endblock js_scripts %}

{% block head_title %}{{ genomereport.report_name }}{% endblock %}

{% block content %}
<h2 id="report-name">{{ genomereport.report_name }}</h2>

{% if genomereport.user == request.user %}
<a class='btn btn-default btn-sm pull-right' href="{% url 'genome_report_reprocess' genomereport.id %}">Reprocess genome</a>
{% endif %}

{% if not report_rows %}
<div class="panel panel-primary">
  <div class="panel-heading">Genome report not yet complete.</div>
  <div class="panel-body">
    This report currently has no data. If this report is new or recently
    refreshed, it's probably still in processing. You'll need to reload this
    page to check if it's complete. Please give reports up to fifteen minutes.
  </div>
</div>
{% else %}
<form>
  <div class="checkbox">
    <label>
      <input id="report-filter-contradicted" type="checkbox"
       name="report-filter" checked> Hide contradicted effects
    </label>
  </div>
</form>
{% endif %}

<table id="genome-report" class="table" style="table-layout:fixed">
  <thead>
    <tr>
      <th style="width:180px;word-wrap:break-word;">Variant</th>
      <th width="100px">Allele Freq</th>
      <th>Info</th>
    </tr>
  </thead>

  <tbody>
  {% for row_data in report_rows %}
  <tr class="gv-row {{ row_data|variant_flags }}" id="gv-b37-{{ row_data.variant.b37_id }}">
    <td class="gv-id-cell" style="width:150px;word-wrap:break-word;">
      <p>
        {{ row_data.variant.b37_hgvs_id }}
      </p>
      {% if row_data.variant.myvariant_clinvar %}
        <p><small><b>ClinVar:</b> <a href="https://www.ncbi.nlm.nih.gov/clinvar/variation/{{ row_data.variant.myvariant_clinvar.variant_id }}/">
          {{ row_data.variant.myvariant_clinvar.rcv.0.preferred_name|space_after_colon }}
        </a></small></p>
      {% endif %}
      <p>{{ row_data.genome_variant.get_zygosity_display }}</p>
    </td>
    <td class="gv-freq-cell">
      {% if row_data.variant.myvariant_exac %}
      <a href="http://exac.broadinstitute.org/variant/{{ row_data.variant.b37_exac_id }}">{{ row_data.variant.allele_frequency|floatformat:'-6' }}</a>
      {% else %}
        {% if row_data.variant.allele_frequency %}
        {{ row_data.variant.allele_frequency|floatformat:'-6' }}
        {% else %}
        Unknown
        {% endif %}
      {% endif %}
    </td>
    <td id="{{ gv.variant.id }}" class="gv-info-cell">
      {% for item in row_data.gennotes_data %}
        <div class="panel panel-info {{ item|note_flags }}">
          <div class="panel-body">
            <table>
              <tbody>
                <tr>
                  <th style="width:120px;">
                    {% if item.tags.category == 'disease' %}
                      Disease:
                    {% else %}Trait:{% endif %}
                  </th>
                  <td> {{ item.tags.name }}</td>
                </tr>
                <tr>
                  <th>
                    Inheritance:
                  </th>
                  <td>{{ item.tags.inheritance|inheritance_display }}</td>
                </tr>
                <tr>
                  <th>Significance:</th>
                  <td>{{ item.tags.significance|significance_display }}</td>
                </tr>
                <tr>
                  <th>Evidence:</th>
                  <td>{{ item.tags.evidence }}</td>
                </tr>
                {% if item.tags.clinvar_rcv_records %}
                <tr>
                  <th>Clinvar records:</th>
                  <td>
                  {% for rcv, rcv_data in item.tags.clinvar_rcv_records.items %}
                    {{ rcv_data.clinical_significance }}:
                    <a href="https://www.ncbi.nlm.nih.gov/clinvar/{{ rcv_data.accession }}/">
                      {{ rcv_data.conditions.name }}</a></br>
                  {% endfor %}
                  </td>
                </tr>
                {% endif %}
                <tr>
                  <th>Notes:</th>
                  <td>
                    <p>{{ item.tags.notes|markdown }}</p>
                  </td>
                </tr>
              </tbody>
            </table>
            <a href="https://gennotes.herokuapp.com/genevieve-effect/{{ item.relation_id }}">View/edit on GenNotes</a>
          </div>
        </div>
      {% endfor %}
      {% if row_data.unclaimed_rcvs %}
        <b>Clinvar entries without associated notes:</b>
        <ul>
          {% for rcv, rcv_data in row_data.unclaimed_rcvs.items %}
          <li>
            {{ rcv_data.clinical_significance }}:
            <a href="https://www.ncbi.nlm.nih.gov/clinvar/{{ rcv_data.accession }}/">
              {{ rcv_data.conditions.name }}</a>
          </li>
          {% endfor %}
        </ul>
        {% if not row_data.gennotes_data %}
          <span class="pull-right">
            <a href="https://gennotes.herokuapp.com/genevieve-edit/?build=b37&amp;chrom={{ row_data.variant.chromosome }}&amp;pos={{ row_data.variant.pos }}&amp;ref_allele={{ row_data.variant.ref_allele }}&amp;var_allele={{ row_data.variant.var_allele }}">Add effect notes to GenNotes</a>
          </span>
        {% endif %}
      {% endif %}
      <p>
        {% if request.user.gennoteseditor %}
        <a href="{% url 'notes_edit' row_data.variant.id 0 %}?report={{ genomereport.id }}"
          class="btn btn-xs btn-default">Create notes for a new effect</a>
        {% endif %}
      </p>
    </td>
  </tr>
  {% endfor %}
  </tbody>

</table>
{% endblock content %}


{% block js_templates %}
<!-- Display of retrieved ReferenceClinVarAssertion data from GenNotes -->
<script type="text/template" id="variant-id-template">
  <p>
    <b>${ b37VariantID }</b>
  </p>
  <p>
    <small><b>ClinVar name: </b>${ clinvarRCVAPreferredName }</small>
  </p>
  <p>
    <small><a href="${ linkGETEvidence }">Check on GET-Evidence</a></small>
  </p>
</script>

<script type="text/template" id="variant-freq-template">
  ${ clinvarRCVAfreqESP }<br>
  <small><a href="${ linkExAC }">Check on ExAC</a></small>
</script>

<script type="text/template" id="variant-info-template">
  <div class="row">
    <div class="col-xs-4">
      <b><a href="http://www.ncbi.nlm.nih.gov/clinvar/${ clinvarRCVAAccession }">
        ${ clinvarRCVAAccession }</a></b>
      <ul style="padding-left:15px;">
        <li><b>${ clinvarTraitLabel }: </b>${ clinvarRCVADiseaseName }</li>
        <li><b>Significance: </b>${ clinvarRCVASignificance }</li>
      </ul>
    </div>
    <div class="col-xs-8">
      <b>Genevieve information</b>
      <ul class="genevieve-information" style="padding-left:15px;">
        <li><b>Inheritance: </b>${ genevieveInheritance }</li>
        <li><b>Evidence: </b>${ genevieveEvidence }</li>
        <li><b>Notes: </b>${ genevieveNotes }</li>
      </ul>
      <a href="/variant/${ localVariantID }/">View/add/update shared notes</a>
    </div>
  </div>
</script>
{% endblock js_templates %}
