{% extends 'base.html' %}


{% block content %}
<h1>Genevieve</h1>

{% if user.is_authenticated %}
  <p>
    Welcome!
  </p>
  <p>
    <b>You're logged in with the following GenNotes account.</b> Edits to
    variant notes you make will be submitted to this account. Edits are
    publicly shared and associated with this username. However, your email
    will remain private, only available to administrators of GenNotes and this
    Genevieve site.
  </p>
  <div class="well well-sm" style="margin-left:20px;margin-bottom:15px;display:inline-block;">
    <b>Username:</b> {{ request.user.gennoteseditor.gennotes_username }}<br>
    <b>Email:</b> {{ request.user.gennoteseditor.gennotes_email }}
  </div>
  <p>
    Wrong account? Make sure you're logged in to the correct account on
    <a href="{{ gennotes_server }}">GenNotes</a>. Once this is corrected, you
    can <a href="{% url 'account_logout' %}">log out</a> and back in again on
    this Genevieve site.
  </p>
  <hr>
  {% if request.user.gennoteseditor.genome_upload_enabled %}
    <p><a href="{% url 'genome_import' %}" class='btn btn-primary'>
      Import genome</a></p>
    <p>
      Import a genome to create a private report (VCF or Complete Genomics var
      file).
    </p>
  {% else %}
    <p>
      Contact this site's admin
      {% if genevieve_admin_email %}at
      <b>{{ genevieve_admin_email }} </b>{% endif %}to request permission
      to perform genome uploads.
    </p>
  {% endif %}
{% else %}
  <p>
    You'll need a <a href="{{ gennotes_server }}">GenNotes</a> account to log
    in to Genevieve. (You can easily
    <a href="{{ gennotes_signup_url }}">create an account</a> if you don't
    already have one!) GenNotes is a server that stores and records notes on
    genetic variants. Genevieve users can access and edit the genome notes
    hosted by GenNotes.
  </p>
  <a href="{{ gennotes_auth_url }}" class='btn btn-default'>
      Log in with a GenNotes account</a>
{% endif %}

{% endblock %}
