{% extends 'base.html' %}


{% block content %}
<h1>Genevieve</h1>

{% if user.is_authenticated and not user.genevieveuser.agreed_to_terms %}
<h2>Please read and agree to the following.</h2>
<p>
  Before we create any reports, we need to make sure you understand
  what Genevieve is &ndash; and isn't.
</p>

{% include 'genevieve_client/partial_about_intro.html' %}

{% include 'genevieve_client/partial_education_and_exploration.html' %}

{% include 'genevieve_client/partial_contains_errors.html' %}

{% include 'genevieve_client/partial_public_reports.html' %}

<hr>
<p>
  <b>Please show us you understand by answering the following questions.</b>
</p>
<p>
  <form action="{% url 'home' %}" method="post">
    {% csrf_token %}
    <p>
      <h4>What is Genevieve's intended use?</h4>
      <div class="radio">
        <label><input type="radio" name="intended_use" value="clinical">Clinical interpretation.</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="intended_use" value="educational">Personal exploration and education.</label>
      </div>
    </p>
    <p>
      <h4>Is Genevieve accurate?</h4>
      <div class="radio">
        <label><input type="radio" name="accurate" value="no">No. Genevieve will contain errors. Many reported effects will be incorrect.</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="accurate" value="yes">Yes. Genevieve ensures high quality through expert review.</label>
      </div>
    </p>
    <p>
      <h4>Is Genevieve comprehensive?</h4>
      <div class="radio">
        <label><input type="radio" name="comprehensive" value="no">No, Genevieve may fail to highlight information I consider important.</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="comprehensive" value="yes">Yes, Genevieve will discover and report all important variants in a data set.</label>
      </div>
    </p>

    <!-- Comment out while deployed in public-only mode.
    <p>
      <h4>Will your Genevieve report always be private?</h4>
      <div class="radio">
        <label><input type="radio" name="private" value="yes">Yes. All Genevieve reports are private.</input></label>
      </div>
      <div class="radio">
        <label><input type="radio" name="private" value="depends">Only if my genetic data is private in Open Humans. If my genetic data is public on Open Humans, my Genevieve report will also be publicly shared.</label>
      </div>
    </p>
    -->

    <button type="submit" class="btn btn-primary" style="margin-bottom:15px;">
      Continue</button>
  </form>
</p>
{% endif %}

{% if user.is_authenticated and user.genevieveuser.agreed_to_terms %}
  <h2>Your genome reports</h2>

  {% if genomereport_list %}
  <table class="table">
    <thead>
    <tr>
      <th>Report name</th>
    </tr>
  </thead>

  <tbody>
    {% for report in genomereport_list %}
    <tr>
      <td><a href="{% url 'genome_report_detail' report.pk %}">
        {{ report.report_name }}</a></td>
    </tr>
    {% endfor %}
  </tbody>
  </table>

  {% else %}
  <p>
    Sorry! It seems like there are no qualifying data sets to generate reports.
  </p>

  <p>
    Genevieve is currently available for public data in Open Humans from
    the following activities: 23andMe, Harvard PGP, and Genome/Exome Data.
  </p>
  {% endif %}

<hr>
{% endif %}

{% if user.is_authenticated and not user.openhumansuser and user.gennoteseditor and user.genevieveuser.agreed_to_terms%}
  <p>
    <b>You're logged in with the following GenNotes account.</b> Edits to
    variant notes you make will be submitted to this account. Edits are
    publicly shared and associated with this username. However, your email
    will remain private, only available to administrators of GenNotes and this
    Genevieve site.
  </p>
  <div class="well well-sm" style="margin-left:20px;margin-bottom:15px;display:inline-block;">
    <b>Username:</b> {{ request.user.gennoteseditor.gennotes_username }}<br>
    <b>Email:</b> {{ request.user.gennoteseditor.gennotes_email }}
  </div>
  <p>
    Wrong account? Make sure you're logged in to the correct account on
    <a href="{{ gennotes_server }}">GenNotes</a>. Once this is corrected, you
    can <a href="{% url 'account_logout' %}">log out</a> and back in again on
    this Genevieve site.
  </p>
  <hr>
{% endif %}

{% if request.user.genevieveuser.genome_upload_enabled and user.genevieveuser.agreed_to_terms %}
<p><a href="{% url 'genome_import' %}" class='btn btn-primary'>
  Import genome</a></p>
<p>
  Import a genome to create a private report. Genome data must be formatted
  as VCF or gVCF, build 37.
</p>
<hr>
{% endif %}

{% if not user.is_authenticated or not user.openhumansuser %}
  <h3>Connect Open Humans</h3>
  <p>
    Connect an <a href="{{ openhumans_url }}">Open Humans</a> account to enable
    Genevieve to automatically create reports from the genetic data you've
    added to Open Humans.
  </p>
  {% if not user.is_authenticated %}
  <p>
    Already connected? The button below will log you back in.
  </p>
  {% endif %}

  <a href="{{ openhumans_auth_url }}" class='btn btn-primary btn-lg'>
      Connect Open Humans</a>

  <hr>
{% endif %}

{% if not user.is_authenticated %}

{% include 'genevieve_client/partial_about.html' %}

<h3>Can I contribute notes without connecting Open Humans?</h3>
<p>
  Even if you aren't interested in generating a report from your own genetic
  data, we hope you consider connecting via Open Humans. As an Open Humans
  member, you'll also be able to log in to our forums to discuss editing notes.
</p>
<p>
  But if joining as an Open Humans member isn't an option, you can log in
  directly with an authorized <a href="{{ gennotes_url }}">GenNotes</a> account.
  <a href="{{ gennotes_signup_url }}">Create a GenNotes account</a> if
  you don't already have one. Then use the button below to authorize notes
  submissions and log in to Genevieve.
</p>
<a href="{{ gennotes_auth_url }}" class='btn btn-default btn-xs'
    style="margin-bottom:20px;">
  Log in with a GenNotes account</a>
{% endif %}

{% endblock %}
