{% extends 'base.html' %}

{% load gennotes_helpers %}

{% block content %}
<h3>Add notes for variant<br></h3>

<p>
  <b>Position: </b> chr{{ variant.get_chromosome_display }}:{{ variant.pos }}
  <br>
  <b>Reference sequence: </b> {{ variant.ref_allele }}
  <br>
  <b>Variant sequence: </b> {{ variant.var_allele }}
  <br>
  <b>Allele frequency: </b>
    {% if variant.myvariant_exac %}
    <a href="http://exac.broadinstitute.org/variant/{{ variant.b37_exac_id }}">{{ variant.allele_frequency|floatformat:'-6' }}</a>
    {% else %}
    {{ variant.allele_frequency|floatformat:'-6' }}
    {% endif %}
  <br>
  <b>HGVS ID: </b> {{variant.b37_hgvs_id}}
  {% if variant.myvariant_clinvar %}
  <br>
  <b>Clinvar preferred name: </b> <a href="https://www.ncbi.nlm.nih.gov/clinvar/variation/{{ variant.myvariant_clinvar.variant_id }}/">{{ variant.myvariant_clinvar.rcv.0.preferred_name }}</a>
  <br>
  <b>Gene symbol: </b> <a href="http://www.ncbi.nlm.nih.gov/gene/{{ variant.myvariant_clinvar.gene.id }}">{{ variant.myvariant_clinvar.gene.symbol }}</a>
  {% endif %}
</p>
<p>
  clinvar: {{ variant.myvariant_clinvar }}
</p>
<p>
  exac: {{ variant.myvariant_exac }}
</p>
<p>
  dbsnp: {{ variant.myvariant_dbsnp }}
</p>
<h4>Nomenclature</h4>
<div style="margin-left:2%">
  <p>
    <b>ClinVar preferred name:</b>
  </p>
  <b>Gene:</b> GENESYMBOL
  <small class="text-muted">("GENENAME")</small>
</div>
<h4>Allele frequency</h4>
<div style="margin-left:2%">
  <p>
    Frequency
  </p>
</div>
<h3 style="border-bottom-style:solid;border-bottom:1px solid #eee">
  ClinVar Accession
  <small class="text-muted">
    (<a href="http://www.ncbi.nlm.nih.gov/clinvar/ACCESSION/">ACCESSION</a>)
  </small>
</h3>
<h4>Effect</h4>
<div style="margin-left:2%">
  <p>
    DISEASEORTRAIT
  </p>
  <p>
    <b>Significance:</b>
    CLINVARSIG
  </p>
</div>
<h4>Citations</h4>
<div style="margin-left:2%">
  No citations from ClinVar recorded in GenNotes.
</div>
<h3 style="border-bottom-style:solid;border-bottom:1px solid #eee">Genevieve Notes</h3>
<p>
  <b>Genevieve notes are stored and publicly shared in GenNotes.</b> This is a
  collaborative method for sharing and updating knowledge.
</p>
<div style="margin-left:2%">
No Genevieve notes recorded yet!
</div>
<h4>Add/update Genevieve notes regarding this ClinVar accession</h4>
<p>
  <b>By submitting edits, you agree to waive copyright and release submitted
  material as public domain using the Creative Commons CC0 1.0 Public Domain
  Dedication.</b> Do not submit material if you do not have the rights to make
  this waiver (e.g. where copyright is held by someone else).
</p>

<form action="{% url 'notes_edit' variant.id 0 %}" method="post" style="margin-bottom:30px;">
  {% csrf_token %}
  <input type="hidden" name="relation_id" value="">
  <input type="hidden" name="relation_version" value="">
  <input type="submit" value="Submit edit to GenNotes">
</form>
{% endblock content %}
