<h3>Genevieve is only able to process publicly shared Open Humans genome data, as such,
  Genevieve will make the corresponding genetic variant report public as well.</h3>
<p>
  Data is private by default on <a href="https://www.openhumans.org/">Open
  Humans</a>, but members can opt in to publicly sharing their data if they've
  enrolled in the <a href="https://www.openhumans.org/public-data/">Public Data
  Sharing</a> study. Participants in that study can turn on (and off) public
  sharing for each data source.
</p>
<p>
  Are you publicly sharing genetic data on Open Humans? Thank you! By publicly
  sharing your genetic data you're gifting the world with a great resource for
  shared understanding.
</p>
<p>
  To further that shared understanding, we're making the Genevieve variant
  reports publicly available as well. Genevieve is currently only available for
  public genome data in Open Humans. If you change your mind and remove public status
  to your genome data on Open Humans, we will do our best to honor that on this site as well.
</p>

<h3>Example reports</h3>
<p>
  See our
  <b>
    <a href="{% url 'public_reports' %}">public reports</a>
  </b> for some examples of reports produced by Genevieve.
</p>
