<p>
  Genevieve is a tool that invites you to research your genome. By matching
  your genome against ClinVar's public variant data, you have a window into
  what researchers see. To help improve our shared understanding, Genevieve
  also invites users to contribute to shared, public, wiki-style notes that
  elaborate on genetic variant information.
</p>
<p>
  Specifically, Genevieve mainly does two things:
</p>
<ol>
  <li>
    <p>
      <b>Genevieve matches your genome data against the ClinVar database.</b>
    </p>
    <p>
      <a href="http://www.ncbi.nlm.nih.gov/clinvar/intro/">ClinVar</a> is a
      public archive of genetic variants and their reported effects on disease
      and health.
    </p>
    <p>
      Genevieve also draws on allele frequency data from the
      <a href="http://exac.broadinstitute.org/">Exome Aggregate
      Consortium (ExAC)</a>. ClinVar and ExAC data are retrieved from
      <a href="http://myvariant.info/">MyVariant.info API</a>, an open source
      server hosting variant information from various databases.
    </p>
  </li>
  <li>
    <p>
      <b>Genevieve allows users to add and edit shared notes.</b>
    </p>
    <p>
      User-generated notes can help clarify and expand on the information
      contained in ClinVar. You can contribute to this shared understanding!
      Genevieve's notes are <a href="https://creativecommons.org/share-your-work/public-domain/cc0/">
      public domain (CC0)</a>, and are publicly available via
      the <a href="https://gennotes.herokuapp.com/api-guide">GenNotes server API</a>.
    </p>
  </li>
</ol>

<p>
  Genevieve does not provide ancestry reports. Also, Genevieve does not attempt
  to assess any combined effects arising from a combination of different
  genetic variants.
</p>

<p>
  <b>Genevieve reports are dynamic.</b> The shared notes on Genevieve are
  constantly subject to change, and the databases Genevieve uses are regularly
  updated. Changes and revisions to the databases are expected and a normal
  part of the scientific process.
</p>
