<h3>If Open Humans data is public, we'll make the corresponding report public.</h3>
<p>
  Data is private by default on <a href="https://www.openhumans.org/">Open
  Humans</a>, but members can opt in to publicly sharing their data if they've
  enrolled in the <a href="https://www.openhumans.org/public-data/">Public Data
  Sharing</a> study. Participants in that study can turn on (and off) public
  sharing for each data source.
</p>
<p>
  Are you publicly sharing genetic data on Open Humans? Thank you! By publicly
  sharing your genetic data you're gifting the world with a great resource for
  shared understanding.
</p>
<p>
  To further that shared understanding, we're making corresponding Genevieve
  reports publicly available. If you make data public after we've generated a
  report, we'll try to detect this and make the corresponding report public.
  Also, if you change your mind and remove public status on Open Humans, we'll
  do our best to honor that on this site as well.
</p>
