<h3>Genevieve reports will have errors.</h3>
<p>
  The Genevieve community strives to do a better at understanding variants.
  However, <b>user-contributed notes are not reviewed</b>. Users could
  potentially contribute misleading or incorrect information, and there is no
  screening of user contributions.
</p>
<p>
  In addition, <b>many published reports of variant effects are wrong</b>.
  The ClinVar database is an amazing resource that aggragates reports, but
  those reports are often incorrect &ndash; even if they were published as
  scientific papers! Science is a process that requires testing and
  reproducibility, and many initial findings are later discovered to be
  spurious or flawed.
</p>
<p>
  Also, <b>Genevieve may fail to highlight variant information that you or
  others believe is noteworthy</b>. Scientific knowledge is incomplete, the
  databases or algorithms may fail to return published information about a
  variant, and user notes may incorrectly dismiss a reported variant effect.
</p>
<p>
  <b>Your raw genetic data may be incomplete.</b>
  Genotyping data sources (e.g. 23andMe or AncestryDNA) cover a very limited
  subset of your genome. Even if you have an "imputed" version of this data,
  these are unlikely to contain information about rare and unusual variants
  in your genome.
</p>
<p>
  Finally, the <b>your raw genetic data may contain errors</b>.
  Depending on where your data came from, the data provider may have systemic
  or sporadic errors in generating that data. Genevieve's accuracy is limited
  by the underlying accuracy of the data it's analyzing.
</p>
