<h3>Genevieve is for research and education.</h3>
<p>
  We believe access and discussion of knowledge is a right and necessity for
  informed citizenry in the age of genomics. We want to facilitate access to
  published claims regarding the effects of variants in an individual genome,
  and enable discussion and consensus understanding of these claims.
</p>
<p>
  <b>Genevieve is NOT intended to be used as a clinical device for diagnosis or
  detection of disease.</b> If you find information in Genevieve that appears to
  indicate something clinically important, you should work with a health care
  provider (e.g. genetic counselor) that can review, verify, and determine
  if clinical action is warranted.
</p>
