{% load staticfiles %}
<h2>About Genevieve</h2>

<img src="{% static 'images/genevieve_badge.png' %}"
  style="float:right;max-width:300px;width:35%;padding-left:5%;">

{% include 'genevieve_client/partial_about_intro.html' %}

{% include 'genevieve_client/partial_education_and_research.html' %}

{% include 'genevieve_client/partial_contains_errors.html' %}

<h3>Who runs Genevieve?</h3>

<p>
  Genevieve is primarily written and maintained by <a href="http://www.madeleineball.net/">
  Madeleine Ball</a>, one of the Co-founders of <a href="https://openhumans.org">Open Humans</a>;
  though it uses Public data from <a href="https://openhumans.org">Open Humans</a>, it is an
  independant project funded by the <a href="https://shuttleworthfoundation.org/">
  Shuttleworth Foundation</a>
</p>

<h3>Genevieve is open source.</h3>

<p>
  Genevieve's source code is
  <a href="https://github.com/madprime/genevieve">shared on GitHub</a>
  with an <a href="https://opensource.org/licenses/MIT">MIT (Expat) license</a>.
</p>
<p>
  In addition, notes contributed via Genevieve are 
  <a href="https://creativecommons.org/share-your-work/public-domain/cc0/">public domain (CC0)</a>
  . Notes  are stored in the GenNotes database as public domain material 
  <a href="https://creativecommons.org/share-your-work/public-domain/cc0/">(CC0)</a> and
  are available via the <a href="https://gennotes.herokuapp.com/api-guide">GenNotes API</a>.
  The  GenNotes server is operated by <a href="https://openhumans.org">Open Humans</a>, and the
  <a href="https://github.com/OpenHumans/gennotes">source code</a> for this is also available.)
</p>

{% include 'genevieve_client/partial_public_reports.html' %}
