{% extends 'base.html' %}

{% load gennotes_helpers %}

{% block content %}
<h3 style="border-bottom-style:solid;border-bottom:1px solid #eee">
  Variant
  <small class="text-muted">
    (Chr{{ variant.get_chromosome_display }}:{{ variant.pos }}{{ variant.ref_allele }}&gt;{{ variant.var_allele }})
  </small>
</h3>
<h4>Nomenclature</h4>
<div style="margin-left:2%">
  <p>
    <b>ClinVar preferred name:</b>
    {% with cvname=relation_data.tags|get_item:'clinvar-rcva:preferred-name' %}
    {% if cvname %}
      {{ cvname }}
    {% else %}
      Unknown
    {% endif %}
    {% endwith %}
  </p>
  {% with cvgenesymbol=relation_data.tags|get_item:'clinvar-rcva:gene-symbol' %}
    {% if cvgenesymbol %}
      <b>Gene:</b> {{cvgenesymbol}}
      {% with cvgenename=relation_data.tags|get_item:'clinvar-rcva:gene-name' %}
        {% if cvgenename %}
          <small class="text-muted">("{{ cvgenename }}")</small>
        {% endif %}
      {% endwith %}
    {% endif %}
  {% endwith %}
</div>
<h4>Allele frequency</h4>
<div style="margin-left:2%">
  <p>
    <b>ClinVar (ESP):</b>
    {% with cvespfreq=relation_data.tags|get_item:'clinvar-rcva:esp-allele-frequency' %}
    {% if cvespfreq %}
      {{ cvespfreq }}
    {% else %}
      Unknown
    {% endif %}
    {% endwith %}
  </p>
  <p>
    <b>ExAC:</b>
    <a href="http://exac.broadinstitute.org/variant/{{ variant.get_chromosome_display }}-{{ variant.pos }}-{{ variant.ref_allele }}-{{ variant.var_allele }}">Look up on ExAC</a>
  </p>
  </div>
<h3 style="border-bottom-style:solid;border-bottom:1px solid #eee">
  ClinVar Accession
  <small class="text-muted">
    (<a href="http://www.ncbi.nlm.nih.gov/clinvar/{{ relation_data.tags|get_item:'clinvar-rcva:accession' }}/">{{ relation_data.tags|get_item:'clinvar-rcva:accession' }}</a>)
  </small>
</h3>
<h4>Effect</h4>
<div style="margin-left:2%">
  <p>
  {% with traittype=relation_data.tags|get_item:'clinvar-rcva:trait-type' %}
  {% if traittype == 'Disease' %}
    <b>Disease:</b>
  {% else %}
    <b>Trait:</b>
  {% endif %}
  {{ relation_data.tags|get_item:'clinvar-rcva:trait-name' }}
  {% endwith %}
  </p>
  <p>
    <b>Significance:</b>
    {{ relation_data.tags|get_item:'clinvar-rcva:significance' }}
  </p>
</div>
<h4>Citations</h4>
<div style="margin-left:2%">
  {% with citations=relation_data|parse_gennotes_citations %}
  {% if citations %}
    {{ citations }}
  {% else %}
    No citations from ClinVar recorded in GenNotes.
  {% endif %}
  {% endwith %}
</div>
<h3 style="border-bottom-style:solid;border-bottom:1px solid #eee">Genevieve Notes</h3>
<p>
  <b>Genevieve notes are stored and publicly shared in GenNotes.</b> This is a
  collaborative method for sharing and updating knowledge.
</p>
<div style="margin-left:2%">
{% if relation_data.tags|get_item:'genevieve:inheritance' or relation_data.tags|get_item:'genevieve:evidence' or relation_data|get_item:'genevieve:notes' %}
  <p>
    <b>Inheritance:</b> {{ relation_data.tags|get_item:'genevieve:inheritance' }}
  </p>
  <p>
    <b>Evidence:</b> {{ relation_data.tags|get_item:'genevieve:evidence' }}
  </p>
  <p>
    <b>Notes:</b> {{ relation_data.tags|get_item:'genevieve:notes' }}
  </p>
  <hr>
{% else %}
  No Genevieve notes recorded yet!
{% endif %}
</div>
<h4>Add/update Genevieve notes regarding this ClinVar accession</h4>
<p>
  <b>By submitting edits, you agree to waive copyright and release submitted
  material as public domain using the Creative Commons CC0 1.0 Public Domain
  Dedication.</b> Do not submit material if you do not have the rights to make
  this waiver (e.g. where copyright is held by someone else).
</p>

<form action="{% url 'variant_edit' variant.id %}" method="post" style="margin-bottom:30px;">
  {% csrf_token %}
  <input type="hidden" name="relation_id" value="{{ relation_id }}">
  <input type="hidden" name="relation_version" value="{{ relation_version }}">
  {{ form.as_p }}
  <input type="submit" value="Submit edit to GenNotes">
</form>
{% endblock content %}
